

.card-info{
    background-color: #016499;
    width: 100%;
    margin-bottom: 1rem;

}

.current{
    min-height: 25rem;
    max-width: 30rem;
    border: 2px solid #016499;
}

.card{
    min-height: 15rem;
    max-width: 30rem;
    border: 2px solid #016499;
}

.card-text{
    margin-bottom: 2rem;
}

.btn-cart{

    border: 2px solid black;
    max-width: 10rem;
    min-height: 3rem;

}