
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



header{

    background-color: black;
    margin-bottom: 50px;
    padding-left: 10.25rem;
    padding-right: 10.25rem;
}


header > ul > li {
  background-color: white;

  padding: 4px;
  border-radius: 50px;
  margin-right: 20px;
}


header > ul > li:hover {

  background-color: #FF6404;
  color: white;
  padding: 4px;
  border-radius: 50px;
  margin-right: 20px;
}



.btn-logout:hover {
  background-color: #39AECF;
  color: white;
}

.footer {
    background-color: #EFEFEF;
    padding-left: 10.25rem;
    padding-right: 10.25rem;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

}

main{
    padding-left: 10.25rem;
    padding-right: 10.25rem;
    margin-bottom: 150px;
}

.footer-item {
  width: 40px;
  height: 40px;
  background-color: white;
}

.title{
    font-size: 72px;
    font-style: italic;
    margin-bottom: 50px;
}


