{% extends 'individual_development_plans/base.html' %}
{% load static %}

{% block content %}
    <link type="text/css" href="{% static 'skilltracker/css/main.css' %}" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <!-- Левая колонка - Информация о задаче -->
            <div class="col-6">
                <h2 class="title_task">{{ title }}</h2>
                <div class="card-task text-center">
                    <div class="card-info d-flex align-items-center justify-content-between p-3">
                        <h6 class="mb-0" style="color: #ffffff">Дедлайн: {{ task.deadline|date:"Y-m-d" }}</h6>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title" >{{ task.title }}</h5>
                        <p class="card-text">{{ task.description }}</p>

                        <form class="add-user text-center" action="?form_type=task_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for f in task_form %}
                                <p>
                                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                    {{ f }}
                                </p>
                                <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
                            <button class="btn btn-task" type="submit">Изменить</button>
                        </form>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <a style="text-decoration: none; color:black;" href="{{ task.add_comment }}">
                        <button class="btn btn-go-comment">Добавить комментарий</button>
                    </a>
                </div>
            </div>

            <!-- Правая колонка - Комментарии -->
            <div class="col-6">
                <h2 class="title_comments">Комментарии</h2>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="card-task fixed-card text-center">
                            <div class="card-info d-flex align-items-center justify-content-between p-3">
                                <h6 class="mb-0" style="color: #ffffff">Автор: {{ comment.user }}</h6>
                                <h6 class="mb-0" style="color: #ffffff">Дата: {{ comment.created_at|date:"Y-m-d" }}</h6>
                            </div>
                            <div class="card-body">
                                <h5 class="card-text-comment">{{ comment.text }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h6>Комментарии к этой задаче отсутствуют</h6>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}