{% extends 'individual_development_plans/base.html' %}
{% load static %}

{% block content %}
    <link type="text/css" href="{% static 'skilltracker/css/main.css' %}" rel="stylesheet" />

    <h2 class="title">
        {{ title }}
    </h2>

  <div class="container">
  <div class="row g-4">
    {% for task in tasks %}

      <div class="col-md-12">
        <div class="card bg-white h-200">
          <div class="card-info d-flex align-items-center justify-content-between p-3">
            <h6 class="mb-0">Дедлайн: {{ task.deadline|date:"Y-m-d" }}</h6>
            <h6 class="mb-0">Прогресс: {{ task.progress }}%</h6>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <a href="{{task.get_absolute_url}}" style="background-color:#016499" class="btn">Перейти к задаче</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}